body{
	margin: 0;

	font-size: 14pt;
	font-family: Helvetica;

	background: white;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

table{
	width: 100%;
	border-collapse: collapse;
}

input, textarea, select{
	border: 1px solid #ccc;
	width: 100%;
	padding: 5px;

	box-sizing: border-box;
}

textarea{
	resize: none;
}

/*	NAV BAR
---------------------*/
nav h1{
	position: relative;
	text-align: center;
	margin-bottom: -90px;
	font-size: 48px;
}

nav a{
	text-decoration: none;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li{
	display: inline-block;
	vertical-align: bottom;
	padding: 5px 20px;
}

#divider{
	margin-bottom: 10px;
	background-image: url('/img/divider_line.png');
	height: 1px;
}


/*	CLASES
---------------------*/
.container{
	width: 1000px;
	margin: 0 auto;
}

/*
---------------------*/
form{
	padding-bottom: 40px;
}

/*	LOGIN
---------------------*/
#login_box{
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid;
	background-color: #9c9;
	margin-bottom: 30px;
}

#login_box input{
	display: inline-block;
	width: 200px;
}

table.mundial{
	background-color: #ccc;
	text-align: center;
}
table.mundial th{
	font-weight: normal;
	text-transform: uppercase;
	width: 14%;
}
table.mundial td{
	padding: 0px;
	margin: 0px;
}

table.mundial th:nth-child(even),
table.mundial td:nth-child(even){
	background-color: #ddd;
}

/*	INDEX.PHP
-------------------------*/

table.lista thead tr{
	height: 36px;
	font-size: 1.1em;
	border-bottom: 2px solid black;

	text-transform: uppercase;
	font-weight: normal;
}

table.lista tbody tr{
	height: 30px;
	font-size: 1em;
	border-bottom: 1px solid black;
}

/*	GRUPOS.PHP
----------------------------*/
table.grupo{
	width: 49%;
	float: left;
	border: 1px solid black;
	margin: 5px;
}

table.grupo thead tr th:first-child{
	width: 60px;
}

/*	ENCUENTROS.PHP
---------------------------*/
table.encuentro{
	font-size: 0.7em;
	vertical-align: middle;
	margin: 20px 0;
}

table.encuentro tbody td:nth-child(4){
	border-right-width: 4px;
}

table.encuentro td.gol{
	vertical-align: top;
}

table.encuentro td.w{
	background-color: green;
}

table.encuentro td.resultado{
	width: 30px;
	font-size: 30px;
	text-align: center;
}

table.encuentro td{
	border: 1px solid black;
}


/*------*/

#partidos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#partidos ul li{
	margin-bottom: 2px;
}

.partido{
	width: 100%;
	height: 100px;
	line-height: 100px;
	cursor: pointer;
}

.partido span{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: whitesmoke;
	border-radius: 50%;
	position: absolute;
	margin-left: -15px;
	margin-top: 35px;
}

.ganador{
	background-color: green;
}

.equipo{
	float: left;
	height: 100%;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
}